#side_col table {
	width: 100%;
	margin: 0;
}

#side_col th {
	padding-bottom: 0.2em;
}

#side_col td {
	font-size: small;
	padding: 0.2em;
}

#bookroom, #checkin {
	font-size: 1em;
	margin: 0.5em;
}

.available {
	background-color: #0C0;
	color: #FFF;
}

.occupied {
	background-color: #C00;
}

.closed {
	background-color: #333;
}

#availability {
	width: 100%;
}

#availability th {
	text-align: center;
}

#availability .header {
	width: 6em;
}

#availability td, #availability th {
	border-bottom: 2px solid #ccc;
	border-top: none;
}

#availability .odd td, #availability .odd th {
		border-top: 2px solid #ccc;
		border-bottom: none;
}
