{% extends "main.html" %}
{% block extra_head %}
<!-- stylesheets and js libraries here -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/jquery-ui/css/redmond/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/rooms/default.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
{% endblock %}

{% block side_col %}
<table>
	<tr><th colspan="2">Legend</th></tr> 
	<tr><td class="available">&nbsp;</td><td>Available</td></tr>
	<tr><td class="occupied">&nbsp;</td><td>Occupied</td></tr>
	<tr><td class="closed">&nbsp;</td><td>Closed</td></tr>
</table>
<br />
<div id="checkin">Return a Key</div>
<div id="bookroom">Book a Room</div>
<div id="login_form" style="display: none;">
	<input type="text" id="id_barcode" />
</div>
<div id="scan_key_form" style="display: none;">
	<input type="text" id="id_keybarcode" />
</div>
<div id="select_time_form" style="display: none;">
	<div id="time">30 minutes</div>
	<div id="time_slider"></div>
</div>
<div id="error_dialog" style="display: none;">
</div>
{% endblock %}

{% block main_col %}
<h2>Current Availability</h2>
{% if res.rooms|length = 0 or res.times|length = 0 %}
<p>No rooms have been added yet. Please finish configuring this application in the administrative back-end.</p>
{% else %}
{% if email %}
<div class="tip">Click and drag in the slots marked as <span class="available">available</span> below to reserve a room.</div>
<!-- hidden by default and shown only when selecting a time range -->
<div id="confirmation">
	<div>Do you want to book room <span id="conf_room"></span> from <span id="conf_begin"></span> to
		<span id="conf_end"></span> <span id="conf_date">today</span>?</div>
</div>
{% endif %}
<ul class="res_left_axis">
	<li>&nbsp;</li>
	{% for time in times %}
		<li class="header">{{ time }}</li>
	{% endfor %}
</ul>
	
{% for room in rooms %}
<ul class="room_list">
	{% for e in room %}
		{% if room|first = e %}
		<li class="header">{{ e }}</li>
		{% else %}
		<li class="{% if e.0 = -1 %}closed{% else %}{% if e.0 = 1 %}occupied{% else %}available{% endif %}{% endif %}{% if e.1 %} editable{% endif %} room_{{ e.2 }}">&nbsp;</li>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}
{% endif %}
{% endblock %}

{% block footer %}
<!-- js init calls here -->
<script type="text/javascript">
// globals
var email = '';
var barcode = '';
var key_mode = 'checkout'; // checkout == normal process; return == only return.

$(document).ready(function() {

$('#error_dialog').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'An Error Occured',
	buttons: {
		'Close': function() {
			$(this).dialog('close');
			$('#id_keybarcode').focus();
		}
	},
});

$('#time_slider').slider({
	// all values in minutes
	value: 30,
	min: 30,
	max: (30 * 2 * 4), // 4 hours
	step: 30, // 30 minute increments
	slide: function(event,ui) {
		var minutes = ui.value % 60; // get left over minutes
		var hours = Math.round( (ui.value - minutes) / 60); // get hours
		var report = '';
		
		mins = '';
		hrs = '';
		if (minutes > 0) {
			mins = minutes + ' minutes';
		}
		if (hours > 0) {
			hrs = hours + ' hour';
			if (hours > 1) { hrs += 's'; }
			report = hrs;
		}
		if (mins.length > 0) {
			if (report.length > 0) { report += ' and '; }
			report += mins;
		}
		
		$('#time').html(report);
	},
}); // value can be obtained by $('#time_slider').slider('value')

$('#login_form').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'Scan Library Card Now...',
	buttons: {
		'Next': function() {
			$(this).dialog('close');
			$.getJSON('/ajax_login/?barcode=' + $('#id_barcode').attr('value'),
				function(data) {
					$('#id_barcode').attr('value',''); // reset barcode input box
					if (data['auth']) {
						email = data['message'];
						$('#scan_key_form').dialog('open');
						$('#id_keybarcode').focus();
					} else {
						$('#error_dialog').html(data['error']);
						$('#error_dialog').dialog('open');
					}
				}
			);
		},
		'Cancel': function() {
			$(this).dialog('close');
			$('#id_barcode').attr('value','');
		}
	},
});

$('#scan_key_form').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'Scan Key Now...',
	buttons: {
		'Next': function() {
			$(this).dialog('close');
			if (key_mode == 'checkout') {
				$.getJSON('/ajax_roomkey/?barcode=' + $('#id_keybarcode').attr('value'),
					function(data) {
						barcode = $('#id_keybarcode').attr('value');
						$('#id_keybarcode').attr('value','');
						if (data['error'].length > 0) {
							$('#error_dialog').html(data['error']);
							$('#scan_key_form').dialog('open'); // try again
							$('#error_dialog').dialog('open');
						} else {
							$('#select_time_form').dialog('open');
						}
					}
				);
			} else if (key_mode == 'return') {
				$.getJSON('/ajax_roomkey_checkin/?barcode=' + $('#id_keybarcode').attr('value'),
					function(data) {
						$('#id_keybarcode').attr('value','');
						if (data['error'].length > 0) {
							$('#error_dialog').html(data['error']);
							$('#error_dialog').dialog('open');
						} else {
							$('#error_dialog').html('Your key has been returned. Thank you.');
							$('#error_dialog').dialog('open');
						}
					}
				);
			}
		},
		'Cancel': function() {
			$(this).dialog('close');
			$('#id_keybarcode').attr('value','');
		}
	},
});

$('#select_time_form').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'Select Length of Time',
	buttons: {
		'Submit': function() {
			// push the requested minutes, email address, and room to the server
			$.getJSON('/ajax_reserve/?email=' + email + '&barcode=' + barcode
				+ '&minutes=' + $('#time_slider').slider('value'),
				function(data) {
					if (data['success']) {
						$('#select_time_form').dialog('close');
						$('#error_dialog').dialog({
							title: 'Reservation Complete',
							buttons: {
								'OK': function() {
									$(this).dialog('close');
									window.location.reload();
								}
							}
						});
						$('#error_dialog').html('Your reservation for ... was successful. You may now proceed to your room.');
						$('#error_dialog').dialog('open');
					} else {
						$('#error_dialog').html(data['error']);
						$('#error_dialog').dialog('open');
					}
				}
			);
		},
		'Cancel': function() {
			$(this).dialog('close');
		}
	},
});

$('#bookroom').button()
	.click(function() {
		key_mode = 'checkout';
		$('#login_form').dialog('open');
		$('#id_barcode').focus();
	})
;

$('#checkin').button()
	.click(function() {
		key_mode = 'return';
		$('#scan_key_form').dialog('open');
		$('#id_keybarcode').focus();
	})
;
});
</script>
{% endblock %}
