{% extends "main.html" %}
{% block extra_head %}
<!-- stylesheets and js libraries here -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}/rooms/default.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
{% endblock %}

{% block main_content %}
<div id="action_buttons">
	<div id="checkin">Return a Key</div>
	<div id="bookroom">Book a Room</div>
</div>

<div id="login_form" style="display: none;">
	<input type="text" id="id_barcode" />
</div>
<div id="scan_key_form" style="display: none;">
	<input type="text" id="id_keybarcode" />
</div>
<div id="select_time_form" style="display: none;">
	<div id="time">30 minutes</div>
	<div id="time_slider"></div>
</div>
<div id="error_dialog" style="display: none;">
</div>

{% if avail|length = 1 %}
<p>No rooms have been added yet. Please finish configuring this application in the administrative back-end.</p>
{% else %}
<table id="availability">
	{% for row in avail %}
		{% cycle '' 'odd' as row_color silent %}
		{# alternating row styles #}
		<tr class="{{ row_color }}">
		{% for e in row %}
			{% if avail|first = row %}
				<th>{{ e }}</th>
			{% else %}
				{% if row|first = e %}
					<th class="header">{{ e }}</th>
				{% else %}
					<td class="{% if e = 0 %}available{% else %}unavailable{% endif %}">&nbsp;</td>
				{% endif %}
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
	{% comment %}Blank row to cap the bottom; make sure RES_LOOK_AHEAD_HOURS is some
	factor of 0.5 or else the bottom cap won't look right.{% endcomment %}
	<tr class="odd">{% for e in avail|first %}<td></td>{% endfor %}</tr>
</table>
{% endif %}
{% endblock %}

{% block footer %}
<!-- js init calls here -->
<script type="text/javascript">
// globals
var email = '';
var barcode = '';
var key_mode = 'checkout'; // checkout == normal process; return == only return.

$(document).ready(function() {

$('#error_dialog').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'An Error Occured',
	buttons: {
		'Close': function() {
			$(this).dialog({title: 'An Error Occured',}); // override back to default
			$(this).dialog('close');
			$('#id_keybarcode').focus();
		}
	},
});

$('#time_slider').slider({
	// all values in minutes
	value: 30,
	min: 30,
	max: (30 * 2 * 4), // 4 hours
	step: 30, // 30 minute increments
	slide: function(event,ui) {
		var minutes = ui.value % 60; // get left over minutes
		var hours = Math.round( (ui.value - minutes) / 60); // get hours
		var report = '';
		
		mins = '';
		hrs = '';
		if (minutes > 0) {
			mins = minutes + ' minutes';
		}
		if (hours > 0) {
			hrs = hours + ' hour';
			if (hours > 1) { hrs += 's'; }
			report = hrs;
		}
		if (mins.length > 0) {
			if (report.length > 0) { report += ' and '; }
			report += mins;
		}
		
		$('#time').html(report);
	},
}); // value can be obtained by $('#time_slider').slider('value')

$('#login_form').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'Scan Library Card Now...',
	buttons: {
		'Next': function() {
			$(this).dialog('close');
			$.getJSON('/ajax_login/?barcode=' + $('#id_barcode').attr('value'),
				function(data) {
					$('#id_barcode').attr('value',''); // reset barcode input box
					if (data['auth']) {
						email = data['message'];
						$('#scan_key_form').dialog('open');
						$('#id_keybarcode').focus();
					} else {
						$('#error_dialog').html(data['error']);
						$('#error_dialog').dialog('open');
					}
				}
			);
		},
		'Cancel': function() {
			$(this).dialog('close');
			$('#id_barcode').attr('value','');
		}
	},
});

$('#scan_key_form').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'Scan Key Now...',
	buttons: {
		'Next': function() {
			$(this).dialog('close');
			if (key_mode == 'checkout') {
				$.getJSON('/ajax_roomkey/?barcode=' + $('#id_keybarcode').attr('value'),
					function(data) {
						barcode = $('#id_keybarcode').attr('value');
						$('#id_keybarcode').attr('value','');
						if (data['error'].length > 0) {
							$('#error_dialog').html(data['error']);
							$('#scan_key_form').dialog('open'); // try again
							$('#error_dialog').dialog('open');
						} else {
							$('#select_time_form').dialog('open');
						}
					}
				);
			} else if (key_mode == 'return') {
				$.getJSON('/ajax_roomkey_checkin/?barcode=' + $('#id_keybarcode').attr('value'),
					function(data) {
						$('#id_keybarcode').attr('value','');
						if (data['success']) {
							$('#error_dialog').dialog({title: 'Thank You',
								buttons: {
									'OK': function() {
										$(this).dialog('close');
										window.location.reload();
									}
								},
							});
							$('#error_dialog').html('Your key has been returned. Thank you.');
							$('#error_dialog').dialog('open');
						} else {
							$('#error_dialog').html(data['error']);
							$('#error_dialog').dialog('open');
						}
					}
				);
			}
		},
		'Cancel': function() {
			$(this).dialog('close');
			$('#id_keybarcode').attr('value','');
		}
	},
});

$('#select_time_form').dialog({
	autoOpen: false,
	closeOnEscape: true,
	draggable: false,
	modal: true,
	resizable: false,
	title: 'Select Length of Time',
	buttons: {
		'Submit': function() {
			// push the requested minutes, email address, and room to the server
			$.getJSON('/ajax_reserve/?email=' + email + '&barcode=' + barcode
				+ '&minutes=' + $('#time_slider').slider('value'),
				function(data) {
					if (data['success']) {
						$('#select_time_form').dialog('close');
						$('#error_dialog').dialog({
							title: 'Reservation Complete',
							buttons: {
								'OK': function() {
									$(this).dialog('close');
									window.location.reload();
								}
							}
						});
						$('#error_dialog').html('Your reservation for ... was successful. You may now proceed to your room.');
						$('#error_dialog').dialog('open');
					} else {
						$('#error_dialog').html(data['error']);
						$('#error_dialog').dialog('open');
					}
				}
			);
		},
		'Cancel': function() {
			$(this).dialog('close');
		}
	},
});

$('#bookroom').button()
	.click(function() {
		key_mode = 'checkout';
		$('#login_form').dialog('open');
		$('#id_barcode').focus();
	})
;

$('#checkin').button()
	.click(function() {
		key_mode = 'return';
		$('#scan_key_form').dialog('open');
		$('#id_keybarcode').focus();
	})
;

// TODO every 15 minutes refresh this page
});
</script>
{% endblock %}
